<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.global.js"></script>
</head>
<body>
<div id="myFor">
    <ul>
        <li v-for="(book, index) in books">{{++index}}. {{book}}</li>
    </ul>
    <ul>
        <li v-for="(author, index) in authors">{{++index}}. {{author.name}} - {{author.sex}}</li>
    </ul>
    <p v-for="(value, key, index) in userinfo">键是 {{key}}，值是 {{value}}，索引是 {{index}}</p>
    <p v-for="i in 5">这是第 {{i}} 段</p>
</div>
</body>
<script>
    const helloApp = {
        data() {
            return {
                books: ['Java Web 开发从入门到实战',
                        'Java EE 框架整合开发入门到实战 -- Spring+Spring MVC+Mybatis',
                        'Spring Boot 从入门到实战'],
                authors: [{
                    name: '陈恒',
                    sex: '男'
                }, {
                    name: '陈恒11',
                    sex: '女'
                }, {
                    name: '陈恒22',
                    sex: '男'
                }],
                userinfo: {
                    name: "陈恒33",
                    age: 88
                }
            }
        }
    }
    const app = Vue.createApp(helloApp)
    const vm = app.mount("#myFor")
</script>
</html>