<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.global.js"></script>
</head>
<body>
<div id="hello-vue">
    <ul>
        <li v-for="(item, index) in items">{{index}} -- {{item}}</li>
    </ul>
    <ul>
        <li v-for="item in items">{{item}}</li>
    </ul>
    <ul>
        <li v-for="(value, key, index) in myObject">{{++index}}. {{key}}={{value}}</li>
    </ul>
    <ul>
        <li v-for="i in 100">{{i}}</li>
    </ul>
</div>
</body>
<script>
    const helloApp = {
        data() {
            return {
                items: ['hello', 'vue'],
                myObject: {
                    "A": "a",
                    "B": "b"
                }
            }
        }
    }
    const app = Vue.createApp(helloApp)
    const vm = app.mount("#hello-vue")
</script>
</html>